{% extends "task/base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<h1>Регистрация</h1>
<form method="post">{% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}
    {{ field }}
    {% for error in field.errors %}
      <p style="color: red;">{{ error }}</p>
    {% endfor %}
    {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
    {% endif %}
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Регистрация</button>
</form>
{% endblock %}
